/* 
* Main Style file 
*/

/* Normalize */
*{
    margin: 0;
    padding: 0;
}

/* body */
body{
    font-family: 'Poppins', sans-serif;
    color: #2b2c34;
}

/* section common*/

.title{
    color: #e45858;
}
.tomato{
    color: #6246ea;
}
a.button{
    text-decoration: none;
    color: white;
    font-weight: 500;
    background:#6246ea ;
    padding:10px 20px ;
    border-radius: 5px;
}

a.button:hover{
    background:#2b2c34 ;
}

section{
    width: 100%;
}

section .half{
    width: 35%;  
}

section .half img{
    width: 85%;

}

section .half p{
    font-size: 16px;
    font-weight: 500;
    margin: 25px 0;
    color: #2b2c34;
}

/* section One */
section.section_one{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: url('images/shapes/top-banner.png');
    position: top left;
    background-repeat: no-repeat;
    padding: 50px 0;
}

section.section_one .half h1.section_title{
    font-family: 'Yeseva One', cursive;
    font-size: 56px;
    color: #2b2c34;
    line-height: 65px;
    font-weight: 400;
    border-left: 4px solid #6246ea;
    margin: 20px 0px;
    padding-left: 25px;
    border-radius: 5px;
}

section.section_one .half p.scroll{
    font-size: 14px;
    font-weight: 400;
}

scroll
section .half-left{
    padding: 5%;
    padding-left: 10%;
    width: 40%;
}
/* section_two  */
section.section_two{
    padding: 50px 0;
}
section.section_two h1, section.section_five h1{
    font-weight: 700;
    text-align: center;
    font-size: 56px;
    color: #2b2c34;
}

section .half h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 45px;
}

section.section_two .full-div{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0 ;
    padding: 0 5%;
}


section.section_two .full-div .half{
    width: 25%;  
    padding: 25px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #d3d1d1;
}
section.section_two .full-div .half img{
    width: 50%;  
    margin-left: 0;
}

section.section_two .full-div .half h3{
   font-size: 32px;
   font-weight: 600;
   margin: 10px 0;
}

section.section_two .full-div .half p{
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0;
 }
 

section.section_two .full-div .half-left{
    background: #d1d1e9 ;
}

section.section_two .full-div .half-middle{
    background: #ffeeee ;
    
}

section.section_two .full-div .half-right{
    background: #fff4d6 ; 
    
}
/* section_three */
section.section_three{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    margin: 50px 0;
    background: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: center left;
}


section.section_three .half-left{
    width: 35%;
}

section.section_three .half-right{
    width: 45%;
    padding-right: 5%;
}

section.section_four{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    margin: 150px 0;
    background: url("images/shapes/shape-2.png");
    background-repeat: no-repeat;
    padding-bottom: 50px;
    background-size: 15%;
    background-position: 90% 90%;
}

section.section_four h2, section.section_four p{
    text-align: right;
}
section.section_four a{
    float: right;
}
section.section_four .half-left{
    width: 45%;
    padding: 50px;
}

section.section_four .half-right{
    width: 35%;
}
/* section_five */

section.section_five .full-div{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    margin: 50px 0;

}
section.section_five h2{
    font-family: 'Yeseva One', cursive;
}
section.section_five .half-left{
    width: 35%;
    padding: 50px;
    border-right: 2px solid #6246ea;
}

section.section_five .half-right{
    width: 35%;
}

form{
    padding: 50px;
}
form .form-input{
    width: 100%;
    padding: 15px;
    margin:5px;
    border-radius: 5px;
    border: 2px solid #ffad5a;
    font-family: 'Poppins', sans-serif;
}

form .button-input{
    margin:10px 5px;
}

/* footer */
footer{
    padding: 50px;
    background:#070707 ;
    color: #e6e6e6;
    text-align: center;
}
footer h3{
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
    font-weight: 400;

}
footer p{
    font-size: 12px;
}

footer a{
    color: #e45858;
    text-decoration: none;
}

footer a:hover{
    color: #6246ea;
}



