/* 
* Main Style file 
*/

/* Normalize */
*{
    margin: 0;
    padding: 0;
}

/* body */
body{
    font-family: 'Poppins', sans-serif;
    color: #2b2c34;
}

/* section common*/


.yellow{
    color: #e45858;
}
.tomato{
    color: #6246ea;
}
a.button{
    text-decoration: none;
    color: white;
    font-weight: 500;
    background:#6246ea ;
    padding:10px 20px ;
    border-radius: 5px;
}

a.button:hover{
    background:#2b2c34 ;
}

section{
    width: 100%;
}

section .half{
    width: 35%;  
}

section .half img{
    width: 85%;

}

section .half p{
    font-size: 16px;
    font-weight: 500;
    margin: 25px 0;
    color: #2b2c34;
}

/* section One */
section.section_one{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: url('images/shapes/top-banner.png');
    position: top left;
    background-repeat: no-repeat;
    padding: 50px 0;
}

section.section_one .half h1.section_title{
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    color: #2b2c34;
    line-height: 65px;
    font-weight: 400;
    border-left: 4px solid #6246ea;
    margin: 20px 0px;
    padding-left: 25px;
    border-radius: 5px;
}

section.section_one .half p.scroll{
    font-size: 14px;
    font-weight: 400;
}

scroll
section .half-left{
    padding: 5%;
    padding-left: 10%;
    width: 40%;
}
/* section_two  */
section.section_two{
    padding: 50px 0;
}
section.section_two h1, section.section_five h1{
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    color: #13103a;
}

section .half h2{
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
}

section.section_two .full-div{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0 ;
    padding: 0 5%;
}


section.section_two .full-div .half{
    width: 25%;  
    padding: 25px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px #808080;
}
section.section_two .full-div .half img{
    width: 50%;  
    margin-left: 0;
}

section.section_two .full-div .half h3{
   font-size: 20px;
   font-weight: 600;
   margin: 10px 0;
}

section.section_two .full-div .half p{
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0;
 }
 

section.section_two .full-div .half-left{
    background: #d1d1e9 ;
}

section.section_two .full-div .half-middle{
    background: #ffeeee ;
    
}

section.section_two .full-div .half-right{
    background: #fff4d6 ; 
    
}




